/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:  #121212;
}

.container {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: rgb(226, 82, 82);
}
 
h2{
  color: white;
}

.subtitle {
 color: rgb(116, 111, 111);
}

.pricing-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:30px;

}

.pricing-card {
  display: flex; 
   flex-direction: column;
 border: 1px ;
 padding: 30px 20px;
 height: 500px;
 width: 300px;
 background-color: white;
 border-radius: 10px;
gap: 25px;
margin-bottom: 200px;

text-align: center;
background-color: #1c1c1c;



}

.pricing-card:hover {
cursor: pointer;
box-shadow: 0 0 10px #616161 ;
}


/* .warrior .pricing-card:hover {
cursor: pointer;
box-shadow: 0 0 10px #616161 ; */






/* .pricing-card:hover {
cursor: pointer;
box-shadow: 0 0 10px #616161 ;
}
 */






.card-header {
  font-weight: 300;
  font-size: small;
  color: aliceblue;
}

.icon {
  font-size: x-large;
  margin-top: 8px;

}

.popular-tag {
  border: 1px solid yellow;
  padding: 5px 5px;
  width: 100px;
  border-radius: 30px;
  font-size: 8px;
  color: black;
  font-weight: 800;
  position: absolute;
  margin-left: 75px;
  
  margin-top: -40px;
  background-color: yellow;
}

.price-block {
 border: 1px solid #1c1c1c;
 padding: 10px 20px;
 border-radius: 20px;
 width: 200px;
 margin-left: 35px;
 background-color: #303030;
 

}

.warrior .price-block{
  
  border: 1px ;
  background-color: #422e2e;
  
  
  }
  .champion .price-block{
    
  border: 1px ;
  background-color: #3c3829
  
  }

.price {
  font-size: 30px;
  font-weight: 600;
  color:  rgb(226, 82, 82);
}

.period {
  color: #7e7e7e;
  font-size: 12px;
  text-transform: uppercase;
  
}

.features {
  list-style: none;
  color: rgb(200, 193, 193);
}

.features li {
  list-style: none;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 50px;
}

.features li.disabled {
  /* Add your styles here */
}

.join-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid  rgb(226, 82, 82);
  color: rgb(226, 82, 82) ;
  background-color: #1c1c1c ;
}
.join-btn:hover {
  box-shadow: 0 0 10px rgb(220, 69, 69);
  background-color: #312d2d;
}

.warrior .join-btn{
  background-color:  #3b1d1d;
  position: absolute;
  margin-top: 420px;
  width: 250px;
}
.warrior .join-btn:hover{
  box-shadow: 0 0 10px rgb(130, 75, 75);
  background-color: #2a1414;
}
.champion .join-btn{
background-color: #3a321c;
border-color: yellow ;
color: #f8c50e;
}
.champion .join-btn:hover{
 box-shadow: 0 0 10px yellow;
 background-color: #2e2816;
}






/* Custom Class Modifiers */
.warrior {
  background-color: #3b1d1d;
  border-color:#1c1c1c ;
  
}

.warrior:hover{
  cursor: pointer;
box-shadow: 0 0 10px #c60808 ;
}

.champion {
 
  background-color: #3a321c;
  border-color:#1c1c1c ;
  
}
.champion:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #f8c50e ;

  
}

.champion .price {
  color: yellow;
}

